<ng-container *ngIf="(comments$ | async) as comments">

  <cdk-virtual-scroll-viewport #scroll [itemSize]="100" (scrolledIndexChange)="onScroll($event)"
    class="scroller-vertical" style="height: 100vh; overflow-x: hidden;">

    <div *cdkVirtualFor="let item of comments; let i = index; trackBy: trackByIdx">

      <mat-card style="padding: 10px; margin: 10px; height: 100px;">
        <h2>{{item.seq}}.{{ item.emoji }} {{ item.author }}</h2>
        <p>{{ item.description }}</p>
      </mat-card>

    </div>

    <p *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">Loading...</p>

    <div *ngIf="!hasMore && (hasMore !== undefined)" fxLayout="row" fxLayoutAlign="center center">

      <p>
        <span class="mirror-text">🚩</span>
        NO MORE
        <span>🚩</span>
      </p>

    </div>

  </cdk-virtual-scroll-viewport>

</ng-container>
