<ng-container *ngIf="comments">

  <cdk-virtual-scroll-viewport #scroll
                               [itemSize]="100"
                               (scrolledIndexChange)="onScroll($event)"
                               class="scroller-vertical"
                               style="height: 100vh; overflow-x: hidden;">

    <div *cdkVirtualFor="let item of comments; let i = index; trackBy: trackByIdx">

      <mat-card class="animate__animated animate__fadeInRight"
                style="padding: 10px; margin: 10px; height: 100px;">
        <h2>{{item.seq}}.{{ item.emoji }} {{ item.author }}</h2>
        <p>{{ item.description }}</p>
      </mat-card>

    </div>

    <div *ngIf="!this.hasMore && (this.hasMore !== undefined)"
         style="display: flex; justify-content: center;">

      <h1>
        <span class="mirror-text">📢</span>
        <span>END📢</span>
      </h1>

    </div>

  </cdk-virtual-scroll-viewport>

</ng-container>