mat-card {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.mirror-text {
  display: inline-block;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
