<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6"
                   fxFlex
                   fxLayout="row">
    <button type="button"
            mat-icon-button
            (click)="sidenav?.toggle()"
            aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>

    <ng-container *ngIf="{user: user$ | async, isLoading: isLoading$ | async} as obj">
      <ng-container *ngIf="!obj.isLoading">

        <ng-container *ngIf="obj.user as u; else loggedOut">
          <div fxLayout="row"
               fxLayoutGap="10px">

            <img width="50"
                 height="50"
                 class="user-avatar"
                 [src]="u?.image"
                 [appImageFallback]="u?.role === 'user' ? userImage : adminImage"
                 [matMenuTriggerFor]="beforeMenu">

            <mat-menu #beforeMenu="matMenu"
                      xPosition="before">
              <a mat-menu-item
                 href="#/user/profile">
                Profile
              </a>
              <a mat-menu-item
                 href="#/user/security">
                Security
              </a>
              <button mat-menu-item
                      (click)="logout()">
                Logout
              </button>
            </mat-menu>

          </div>
        </ng-container>

        <ng-template #loggedOut>
          <a mat-button
             role="button"
             href="#/user/auth"
             (click)="switchModeTo('login')">
            Login
          </a>
          <a mat-raised-button
             color="warn"
             role="button"
             href="#/user/auth"
             (click)="switchModeTo('register')">
            Register
          </a>
        </ng-template>

      </ng-container>
    </ng-container>

  </mat-toolbar-row>
</mat-toolbar>