<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6"
                   fxFlex
                   fxLayout="row">
    <button type="button"
            mat-icon-button
            (click)="sidenav?.toggle()">
      <mat-icon aria-label="menu">menu</mat-icon>
    </button>
    <span fxFlex></span>

    <div fxLayout="row"
         fxLayoutGap="10px">

      <ng-template [ngIf]="(user$ | async)"
                   [ngIfElse]="loggedOut">
        <img width="50"
             height="50"
             mat-card-avatar
             class="user-profile-btn"
             [src]="(user$ | async)?.image"
             [appImageFallback]="(user$ | async)?.role === 'user' ? userImage : adminImage"
             [matMenuTriggerFor]="beforeMenu">

        <mat-menu #beforeMenu="matMenu"
                  xPosition="before">
          <a mat-menu-item
             href="#/user/profile">
            Profile
          </a>
          <a mat-menu-item
             href="#/user/security">
            Security
          </a>
          <button mat-menu-item
                  (click)="logout()">
            Logout
          </button>
        </mat-menu>

      </ng-template>


      <ng-template #loggedOut>
        <a mat-button
           role="button"
           href="#/user/auth"
           (click)="switchModeTo('login')">
          Login
        </a>
        <a mat-raised-button
           color="warn"
           role="button"
           href="#/user/auth"
           (click)="switchModeTo('register')">
          Register
        </a>
      </ng-template>

    </div>

  </mat-toolbar-row>
</mat-toolbar>