.mat-toolbar.mat-primary {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.user-avatar {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
