@mixin footer-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .footer-container {
    background-color: mat-color($primary);
    color: #fff;
  }
}
