language: node_js
node_js:
 - "12.18.3"

branches:
  only:
    - travis

addons:
  chrome: stable

before_script:
  - npm install

cache:
  npm: true
  directories:
    - node_modules

script:
  - npm run test
  - npm run e2e
  - npm run build:ssr