os: linux

dist: xenial

services:
  - xvfb

sudo: true

language: node_js

node_js:
  - "10"

branches:
  only:
    - travis

notifications:
  email: false

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  npm: true
  directories:
    - node_modules

before_install:
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation libxml2-dev
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - google-chrome-stable --headless --no-sandbox --remote-debugging-port=9223 http://localhost:4200/ &

install:
  - npm set progress=false
  - npm install

before_script:
  #  angular
  - export NG_CLI_ANALYTICS=ci

script:
  # - npm run test-headless
  - npm run e2e-headless
  # - npm run build:ssr
