os: linux

dist: bionic

# This only works on Ubuntu 16.04 (Xenial) and later on releases i.e. with dist: xenial or dist: bionic
services:
  - xvfb

language: node_js

node_js:
  - "12.18.1"

branches:
  only:
    - master

notifications:
  email: false

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  npm: false
  directories:
    - node_modules

before_install:
  #  angular
  - export NG_CLI_ANALYTICS=false
  # chrome
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0

install:
  - npm set progress=false
  - npm install

script:
  - npm run wmu
  - npm run test:headless
  - npm run e2e:headless
