os: linux

dist: xenial

services:
  - xvfb

sudo: true

language: node_js

node_js:
  - "10"

branches:
  only:
    - travis

notifications:
  email: false

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  npm: true
  directories:
    - node_modules

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libxml2-dev

install:
  - npm set progress=false
  - npm install

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - export NG_CLI_ANALYTICS=ci
  # - "sh -e /etc/init.d/xvfb start"
  # - sleep 3 # give xvfb some time to start
  # - rackup  # start a Web server
  # - sleep 3 # give Web server some time to bind to sockets, etc

script:
  # - npm run test-headless
  - npm run e2e-headless
  # - npm run build:ssr
