<div fxLayoutAlign="center center"
     class="container">

    <div fxLayoutGap="10px"
         fxLayout="column"
         fxLayoutAlign="center center">

        <ng-template appPlaceholder></ng-template>

        <div>
            <mat-card fxFlex="350px"
                      fxFlex.xs="300px">

                <mat-card-header fxLayout="row"
                                 fxLayoutAlign="center center">

                    <mat-card-title>
                        Forgot password
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <form [formGroup]="form"
                          (ngSubmit)="onSubmit()"
                          autocomplete="off">

                        <div formGroupName="user">
                            <mat-form-field fxLayout="column">
                                <mat-label>Email</mat-label>
                                <input #email
                                       type="email"
                                       matInput
                                       formControlName="email">
                                <mat-error *ngIf="hasEmailControlErrorRequired(emailControl)">
                                    Email is <strong>required</strong> !
                                </mat-error>
                                <mat-error *ngIf="hasControlErrorLengtgh(emailControl)">
                                    Email length must be between 10 and 100 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button
                                type="submit"
                                #submitButton
                                style="display: none;">
                        </button>
                    </form>
                </mat-card-content>
                <mat-card-actions fxLayout="column">

                    <button mat-raised-button
                            (click)="onTriggerClick()"
                            fxLayout="column"
                            fxLayoutAlign="center stretch"
                            color="primary"
                            [disabled]="(isLoading$ | async)">
                        Send&nbsp;
                        <i class="fas fa-cog fa-spin"
                           *ngIf="(isLoading$ | async)"></i>
                    </button>
                </mat-card-actions>
                <mat-card-footer fxLayout="column"
                                 fxLayoutAlign="center center">
                    <a mat-button
                       color="primary"
                       [routerLink]="['/user/auth']">
                        Login
                    </a>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>