version: 2.1

# ORBS
orbs:
  browser-tools: circleci/browser-tools@1.1.1

# VAR
var_1: &only_on_branches
  filters:
    branches:
      only:
        - master
var_2: &working_directory ~/ng
var_3: &node_version cimg/node:14.17.1

# COMMANDS
commands:
  chrome_environment_variables:
    description: set chrome environment variables
    steps:
      - run:
          name: set chrome environment variables
          command: |
            export CHROME_BIN=/usr/local/bin/google-chrome
            export DISPLAY=:99.0

  custom_attach_workspace:
    description: Attach workspace at a predefined location
    steps:
      - attach_workspace:
          at: *working_directory

# EXECUTORS
executors:
  default-executor:
    docker:
      - image: *node_version
    working_directory: *working_directory

# WORKFLOWS
workflows:
  default_workflow:
    jobs:
      - install:
          <<: *only_on_branches
      - test:
          requires:
            - install
          <<: *only_on_branches
      - test-e2e:
          requires:
            - install
          <<: *only_on_branches
# JOBS
jobs:
  install:
    executor: default-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-npm-dependencies-{{ checksum "package-lock.json" }}
            - v1-npm-dependencies-
      - run:
          name: install
          command: echo N | sudo npm install
      - save_cache:
          paths:
            - node_modules
            - dist
          key: v1-npm-dependencies-{{ checksum "package-lock.json" }}
      # Persist any changes at this point to be reused by further jobs.
      # **NOTE**: To add new content to the workspace, always persist on the same root.
      - persist_to_workspace:
          root: *working_directory
          paths:
            - ./

  test:
    executor: default-executor
    steps:
      - custom_attach_workspace
      - browser-tools/install-browser-tools
      - chrome_environment_variables
      - run: sudo npm run test-headless

  test-e2e:
    executor: default-executor
    steps:
      - custom_attach_workspace
      - browser-tools/install-browser-tools
      - chrome_environment_variables
      - run: sudo npm run e2e-headless
