version: 2.1
orbs:
  node: circleci/node@4.0.0
jobs:
  build-and-test:
    working_directory: ~/angular-angularmaterial
    docker:
      - image: circleci/node:12-browsers
    steps:
      - checkout
      - restore_cache:
          key: angular-angularmaterial-{{ .Branch }}-{{ checksum "package-lock.json"}}
      - run: npm install
      - save_cache:
          key: angular-angularmaterial-{{ .Branch }}-{{ checksum "package-lock.json"}}
          paths:
            - "nodes_modules"
      - run: npm run test-headless
workflows:
    build-and-test:
      jobs:
        - build-and-test