<div fxLayout="row"
     fxLayoutAlign="center center"
     class="container">

    <mat-card fxFlex="400px">
        <mat-card-header fxLayout="row"
                         fxLayoutAlign="center center">
            <h1>Oops</h1>
        </mat-card-header>
        <div fxLayout="row"
             fxLayoutAlign="center center">
            <mat-icon aria-label="searching"
                      svgIcon="searching"></mat-icon>
        </div>
        <mat-card-content fxLayout="row"
                          fxLayoutAlign="center center">
            <small>Sorry, page or file not found !!!</small>
        </mat-card-content>

    </mat-card>

</div>