<div fxLayoutAlign="center center"
     class="container"
     fxLayoutGap="10px"
     fxLayout="column">

  <div *ngIf="(user$ | async) as user">
    <mat-card fxFlex="350px"
              fxFlex.xs="300px"
              class="mat-elevation-z4">

      <mat-card-content fxFlex
                        fxLayout="column"
                        fxLayoutAlign="center center">
        <div class="wallpaper"></div>
        <div class="menu"
             fxFlex
             fxFill
             fxLayout="row"
             fxLayoutAlign="end center">
          <button mat-icon-button
                  aria-label="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <div class="avatar">
          <img [src]="user?.image"
               [appImageFallback]="user?.role === 'user' ? userImage : adminImage">
        </div>
        <h3 class="username">username</h3>
        <p class="location mat-small"
           fxLayout="row"
           fxLayoutAlign="center center">
          <mat-icon aria-label="location">location_on</mat-icon>
          location
        </p>
        <p class="email"
           fxLayout="row"
           fxLayoutAlign="center center">
          <mat-icon aria-label="email">email</mat-icon>
          {{ user?.email }}
        </p>
        <div class="social"
             fxLayout="row"
             fxLayoutAlign="space-around center">
          <i>G</i>
          <i>G</i>
          <i>G</i>
          <i>G</i>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
