$wallpaper-height: 180px;
$avatar-size: 120px;

.container {
    min-height: 90vh;
}
.wallpaper {
	position: relative;
	height: $wallpaper-height;
	width: -webkit-fill-available;
	// background: url("https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=88672068827eaeeab540f584b883cc66&auto=format&fit=crop&w=1164&q=80") no-repeat;
	background-color: #3f51b5;
	background-size: cover;
	backface-visibility: hidden;
	overflow: hidden;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.avatar {
	position: relative;
	top: -100px;
	img {
        width: $avatar-size;
        height: $avatar-size;
		border-radius: 50%;
		border: 5px solid white;
        background-color: white;
        display: flex;
	}
}
.menu {
	top: -$wallpaper-height;
	position: relative;
	button {
		color: white;
	}
}
.username {
	text-transform: uppercase;
	margin-top: -70px;
}
.location {
	margin: 0;
	text-transform: uppercase;
}
.social {
	width: -webkit-fill-available;
	margin-top: 50px;
}
