.mat-sidenav-container {
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;
  background: transparent !important;
}

.mat-sidenav {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 200px;
}

main {
  margin: auto;
  min-height: 100vh;
  padding: 80px 3rem 2rem;
}