.mat-sidenav-container {
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;
  background: transparent !important;
}

.mat-sidenav {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 200px;

  &.collapsed {
    top: 56px;
  }
}

mat-nav-list {
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track-piece  {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #ff4a63 0%, #ff9335 100%);
  }
}

main {
  margin: auto;
  min-height: 100vh;
  padding: 80px 3rem 2rem;
}
