/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.dots {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;

    > div {
      width: 15px;
      height: 15px;
      background-color: #ff1744;
      border-radius: 100%;
      display: inline-block;
      animation: dots-bounce 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      animation-delay: -0.16s;
    }
  }

  @keyframes dots-bounce {
    0%, 80%, 100% {
      transform: scale(0);
    } 40% {
      transform: scale(1.0);
    }
  }

#particles-js{
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: whitesmoke;
}

.scroller-vertical {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track-piece  {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom, #ff4a63 0%, #ff9335 100%);
    }
}

.typed {
    color: #3f51b5;
}
.typed-cursor {
    color: #f44336;
}
.typed, .typed-cursor {
    font-weight: bold;
}

.mat-drawer-inner-container{ overflow: hidden !important; }
