@import 'variables';

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
}

#loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.dots {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;

  > div {
    width: 15px;
    height: 15px;
    background-color: #ff1744;
    border-radius: 100%;
    display: inline-block;
    animation: dots-bounce 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }
}

@keyframes dots-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
}

.scroller-vertical {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #ff4a63 0%, #ff9335 100%);
  }
}

.typed {
  color: #3f51b5;
}
.typed-cursor {
  color: #f44336;
}
.typed,
.typed-cursor {
  font-weight: 500;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}
