:host {
  justify-content: center;
}
.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 10px;
  padding: 20px 10px;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  background: transparent;
}
.typed,
.typed-cursor {
  font-weight: 500;
}
